
#selection {
    position: absolute;
    background: rgba(0,0,0,0);
    outline: 2px dashed  #0823FF;
    z-index: 34534534854;
}

#selection.complete {
    background: rgba(0,0,0,0);
    border-color: #0CA50E;
}

*::selection {
    background: rgba(255,255,255,0); 
}
