body {
  background:#f3f3f3; 
  }
.editor{
    width: 900px;
    height: auto;
    margin: 0 auto;
    position: relative;
    text-align: center; 
    }
    
.editor .cropped-image {
      max-width: 100%;
      height: auto; 
       }
.editor .control {
      text-align: center;
      margin: 20px 0px;
      top: 10px;
       }
.save {
        background:#706c61 ;
        font-size: 13px;
        color: #ffffff;
        text-decoration: none;
        padding: 8px 25px;
        border-radius: 3px;
        margin-left: 5px; 
        }
   

       .close{
       background:#706c61 ;
       font-size: 13px;
       color: #ffffff;
       text-decoration: none;
       padding: 8px 25px;
       border-radius: 3px;
       margin-left: 10px; 
       border:none;
}